@page "/okr/checkin/{Id}/overview"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

<div class="tabs">
  <div class="tabs_name">
    <a class="icon-tex px-0 has-text-link has-text-weight-normal is-size-6" href="/okr/checkin/@okr.user_create">
      <span class="icon">
        <span class="material-icons-outlined">
          keyboard_backspace
        </span>
      </span>
      <span>
        Trở về
      </span>
    </a>
    <span class="icon-text">
      <span>
        Chi tiết OKRs
      </span>
    </span>
  </div>
  <ul>
    <li class="">
      <a class="has-text-weight-normal" href="/okr/checkin/@okr.id/info">Check-in 1:1</a>
    </li>
    <li class="">
      <a class="has-text-weight-normal" href="/okr/checkin/@okr.id/feedback">Phản hồi</a>
    </li>
    <li class="is-active">
      <a class="has-text-weight-normal" href="/okr/checkin/@okr.id/overview">Tổng quan</a>
    </li>
  </ul>
</div>

@if (okr != null)
{
  <section class="main_content" style="gap:0;">
    <div class="card flex_column">
      <ul class="columns is-vcentered is-variable is-2 mb-2">
        <li class="column is-narrow">
          <h1 class="title is-5 has-text-info">
            TIẾN ĐỘ OKRs
          </h1>
        </li>
      </ul>
      <div style="flex:1" class="inner_section">
        <canvas id="chartLine" height="210"></canvas>
      </div>
    </div>

    <div class="card flex_column">
      <ul class="columns is-vcentered is-variable is-2 mb-2">
        <li class="column">
          <h1 class="title is-5 has-text-info">
            CHI TIẾT OKRs
          </h1>
        </li>
        @if (okr.next_checkin != 0)
        {
          <li class="column is-narrow">
            <span>Lần check-in tiếp theo:</span>
            <span class="has-text-weight-semibold">
              @string.Format("{0:dd/MM/yyy}", new DateTime(okr.next_checkin))
            </span>
          </li>
        }
      </ul>
      <div class="inner_section">
        <table class="table is-fullwidth is-noborder is-responsive">
          <thead>
            <tr class="is-size-7" style="border-bottom: 1px solid #DEDEDE;">
              <th class="pt-0">Mục tiêu</th>
              <th class="pt-0" width="160px">Kết Quả Then Chốt</th>
              <th class="pt-0" width="200px" align="center">Tiến độ</th>
              <th class="pt-0" width="90px" align="center">Thay đổi</th>
              <th class="pt-0" width="90px" align="center">Tự tin</th>
            </tr>
          </thead>
          <tbody>
            @if (okr.key_results != null)
            {
              var confident = DbOkr.Confident(okr.confident);
              var progress = DbOkr.GetProgress(okr.key_results);
              var okrColor = Shared.ProgressColor(progress);

              <tr>
                <td>
                  <div class="is-flex">
                    <span class="has-text-weight-semibold has-text-link">@okr.name</span>
                    @if (okr.done)
                    {
                      <span class="ml-1 icon" title="OKRs đã hoàn thành">
                        <i class="material-icons is-size-6 has-text-success">check_circle</i>
                      </span>
                    }
                  </div>
                </td>
                <td>
                  <label class="td-label">Kết quả</label>
                  <div class="td-value">
                    <a class="icon-text has-text-weight-semibold has-text-info">
                      <span>@okr.key_results.Count kết quả</span>
                      <span class="icon">
                        <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                      </span>
                    </a>
                  </div>
                </td>
                <td>
                  <label class="td-label">Tiến độ</label>
                  <div class="td-value">
                    <div class="progress_has_value">
                      <progress class="progress is-small @okrColor" value="@Convert.ToInt32(progress)" max="100"></progress>
                      <span>@Shared.FormatPercent(progress)%</span>
                    </div>
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Thay đổi</label>
                  <div class="td-value has-text-weight-semibold">
                    @Shared.FormatPercent(progress - okr.progress_prev)%
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Tự tin</label>
                  <div class="td-value has-text-weight-semibold">
                    <span class="@confident.color">@confident.name</span>
                  </div>
                </td>
              </tr>

              @foreach (var kr in okr.key_results)
              {
                var confidentKr = DbOkr.Confident(kr.confident);

                <tr>
                  <td class="pl-4">
                    @kr.name
                  </td>
                  <td class="pl-2">
                    @if (!string.IsNullOrEmpty(kr.link))
                    {
                      <a class="icon-text has-text-link" href="@kr.link" target="_blank">
                        <span class="icon is-small">
                          <i class="material-icons-outlined">attach_file</i>
                        </span>
                        <span>Kết quả</span>
                      </a>
                    }
                  </td>
                  <td>
                    <label class="td-label">Đạt được</label>
                    <div class="td-value">
                      <span class="has-text-success">
                        @Shared.ConvertCurrency(kr.result)/@Shared.ConvertCurrency(kr.target)
                      </span>
                      <span class="is-pulled-right">@kr.unit</span>
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">Thay đổi</label>
                    <div class="td-value">
                      @Shared.FormatPercent(Shared.Progress(kr.change, kr.target))%
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">Tự tin</label>
                    <div class="td-value has-text-weight-semibold">
                      <span class="@confidentKr.color">@confidentKr.name</span>
                    </div>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
    </div>

    @if (okrRelated.Count > 0)
    {
      <div class="card flex_column">
        <ul class="columns is-vcentered is-variable is-2 mb-2">
          <li class="column is-narrow">
            <h1 class="title is-5 has-text-info">
              OKRs LIÊN QUAN
            </h1>
          </li>
        </ul>
        <div class="inner_section">
          <table class="table is-fullwidth is-noborder is-responsive">
            <thead>
              <tr class="is-size-7" style="border-bottom: 1px solid #DEDEDE;">
                <th class="pt-0">Mục tiêu</th>
                <th class="pt-0" width="160px">Kết Quả Then Chốt</th>
                <th class="pt-0" width="200px" align="center">Tiến độ</th>
                <th class="pt-0" width="90px" align="center">Thay đổi</th>
                <th class="pt-0" width="90px" align="center">Tự tin</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var dict in okrRelated)
              {
                var key = dict.Key.Split("|");
                var item = dict.Value;
                var progress = DbOkr.GetProgress(item.key_results);
                var showKey = okrsShow.Contains(item.id);
                var confident = DbOkr.Confident(item.confident);

                <tr>
                  <td>
                    <a class="has-text-weight-semibold has-text-link" href="/okr/checkin/@key[1]">
                      @item.name
                    </a>
                    <i class="has-text-grey">→ @key[2]</i>
                  </td>
                  <td>
                    <label class="td-label">Kết quả</label>
                    <div class="td-value">
                      <a class="icon-text has-text-weight-semibold has-text-info" @onclick="() => ShowKeys(item.id)">
                        <span>@item.key_results.Count kết quả</span>
                        <span class="icon">
                          <i class="material-icons-outlined is-size-5">
                            @(showKey ? "arrow_drop_down" : "arrow_right")
                          </i>
                        </span>
                      </a>
                    </div>
                  </td>
                  <td>
                    <label class="td-label">Tiến độ</label>
                    <div class="td-value">
                      <div class="progress_has_value">
                        <progress class="progress is-small is-link" value="@Convert.ToInt32(progress)" max="100"></progress>
                        <span>@Shared.FormatPercent(progress)%</span>
                      </div>
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">Thay đổi</label>
                    <div class="td-value has-text-weight-semibold">
                      @Shared.FormatPercent(progress - item.progress_prev)%
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">Tự tin</label>
                    <div class="td-value has-text-weight-semibold">
                      <span class="@confident.color">@confident.name</span>
                    </div>
                  </td>
                </tr>

                if (showKey)
                {
                  foreach (var kr in item.key_results)
                  {
                    var confidentKr = DbOkr.Confident(kr.confident);
                    <tr>
                      <td class="pl-4">
                        @kr.name
                      </td>
                      <td class="pl-2">
                        @if (!string.IsNullOrEmpty(kr.link))
                        {
                          <a class="icon-text has-text-link" href="@kr.link" target="_blank">
                            <span class="icon is-small">
                              <i class="material-icons-outlined">attach_file</i>
                            </span>
                            <span>Kết quả</span>
                          </a>
                        }
                      </td>
                      <td>
                        <label class="td-label">Đạt được</label>
                        <div class="td-value">
                          <span class="has-text-success">
                            @Shared.ConvertCurrency(kr.result)/@Shared.ConvertCurrency(kr.target)
                          </span>
                          <span class="is-pulled-right">@kr.unit</span>
                        </div>
                      </td>
                      <td align="center">
                        <label class="td-label">Thay đổi</label>
                        <div class="td-value">
                          @Shared.FormatPercent(Shared.Progress(kr.change, kr.target))%
                        </div>
                      </td>
                      <td align="center">
                        <label class="td-label">Tự tin</label>
                        <div class="td-value has-text-weight-semibold">
                          <span class="@confidentKr.color">@confidentKr.name</span>
                        </div>
                      </td>
                    </tr>
                  }
                }
              }
            </tbody>
          </table>
        </div>
      </div>
    }
  </section>
}
else
{
  <section class="main_content">
    <div class="card">
      Dữ liệu không tồn tại hoặc đã bị xóa
    </div>
  </section>
}

@if (!CheckAccess())
{
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content" style="max-width: 360px;">
      <div class="box has-text-centered pt-5">
        <span class="icon is-large has-text-danger">
          <i class="material-icons-outlined is-size-1">error_outline</i>
        </span>
        <div class="is-size-6 py-4 has-text-weight-semibold">
          @msgAccess
        </div>
      </div>
    </div>
  </div>
}

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public string Id { get; set; }
  private string _title = "CFRs - Tổng quan Check-in";
  private OkrModel okr = new();
  private Dictionary<string, OkrModel> okrRelated = new();
  private List<string> okrsShow = new();
  private List<OkrCheckinModel> dataList = new();
  private string msgAccess = string.Empty;

  private bool CheckAccess()
  {
    return ProductService.CheckAccess(Layout.Company, Layout.User, "okrs", out msgAccess);
  }

  protected override async Task OnInitializedAsync()
  {
    okr = await DbOkr.Get(Layout.Company.id, Id, Layout.CycleId);
    if (okr != null)
    {
      if (!string.IsNullOrEmpty(okr.parent))
      {
        var okr = await DbOkr.Get(Layout.Company.id, this.okr.parent);
        if (okr != null)
          okrRelated.TryAdd($"{this.okr.id}|{okr.id}|OKR cấp trên", okr);
      }
      foreach (var kr in okr.key_results)
      {
        foreach (var cross in kr.cross_links)
        {
          var okr = await DbOkr.Get(Layout.Company.id, cross.okr);
          if (okr != null)
            okrRelated.TryAdd($"{this.okr.id}|{cross.user}|OKR liên kết", okr);
        }
      }
    }
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (okr != null && firstRender)
    {
      await Chart();
    }
  }

  private void ShowKeys(string id)
  {
    if (okrsShow.Contains(id))
      okrsShow.Remove(id);
    else
      okrsShow.Add(id);
  }

  private async Task<bool> Chart()
  {
    bool _success = true;
    try
    {
      dataList.AddRange(await DbOkrCheckin.GetList(Layout.Company.id, Layout.CycleId, okr.id, true));
      dataList = dataList.OrderBy(x => x.date_create).ToList();

      int chartCount = dataList.Count + 1;

      var chartLabel = new string[chartCount];
      var chartDatas = new int[chartCount];

      chartLabel[0] = string.Format("{0:dd/MM}", new DateTime(okr.date_create));
      chartDatas[0] = 0;

      for (int i = 0; i < dataList.Count; i++)
      {
        var checkin = dataList[i];
        chartLabel[i + 1] = string.Format("{0:dd/MM}", new DateTime(checkin.date_create));
        chartDatas[i + 1] = (int)DbOkrCheckin.GetProgress(checkin.key_results, okr.key_results);
      }

      await JSRuntime.InvokeAsync<string>("runChartLine", "Tiến độ (%)", chartLabel, chartDatas);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "Chart()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }
}