@page "/okr/checkin/{OkrId}/add"
@page "/okr/checkin/{OkrId}/{CheckinId}"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
@inject GlobalService globalService

<PageTitle>CFRs - Check-in 1:1</PageTitle>

<div class="tabs">
  <div class="tabs_name">
    <a class="icon-text px-0 has-text-link has-text-weight-normal is-size-6" href="/okr/checkin/@okr.user_create">
      <span class="icon">
        <span class="material-icons-outlined">
          keyboard_backspace
        </span>
      </span>
      <span>
        Trở về
      </span>
    </a>
    <span class="icon-text">
      <span>
        Chi tiết OKRs
      </span>
    </span>
  </div>
  <ul>
    <li class="is-active">
      <a class="has-text-weight-normal" href="/okr/checkin/@okr.id/info">Check-in 1:1</a>
    </li>
    <li class="">
      <a class="has-text-weight-normal" href="/okr/checkin/@okr.id/feedback">Phản hồi</a>
    </li>
    <li class="">
      <a class="has-text-weight-normal" href="/okr/checkin/@okr.id/overview">Tổng quan</a>
    </li>
  </ul>
</div>


@if (okr != null && okr.user_create == Layout.User.id)
{
  <section class="main_content">
    <div class="card">
      <ul class="columns is-vcentered is-variable is-2 mb-5">
        <li class="column">
          <h1 class="title is-5 has-text-info">
            CHECK-IN 1:1
          </h1>
        </li>
        @if (!model.checkin && model.draft && !string.IsNullOrEmpty(model.id))
        {
          <li class="column is-narrow">
            <a class="button is-danger" @onclick="Delete">
              <span class="icon"><i class="material-icons-outlined is-size-6">delete</i></span>
              <span>Xóa bản nháp</span>
            </a>
          </li>
        }
      </ul>
      <table class="table is-fullwidth is-vcentered is-noborder is-responsive mb-0">
        <thead>
          <tr>
            <th>Mục tiêu</th>
            <th width="200px" align="center">Tiến độ</th>
            <th width="100px" align="center">Thay đổi</th>
            <th width="120px" align="center">Tự tin</th>
          </tr>
        </thead>
        <tbody>
          @if (model != null)
          {
            var progress = DbOkrCheckin.GetProgress(model.key_results, okr.key_results);
            var okrColor = Shared.ProgressColor(progress);

            <tr>
              <td>
                <span class="has-text-weight-semibold has-text-link">
                  @okr.name
                </span>
              </td>
              <td>
                <label class="td-label">Tiến độ</label>
                <div class="td-value">
                  <div class="progress_has_value">
                    <progress class="progress is-small @okrColor" value="@Convert.ToInt32(progress)" max="100"></progress>
                    <span>@Shared.FormatPercent(progress)%</span>
                  </div>
                </div>
              </td>
              <td align="center">
                <label class="td-label">Thay đổi</label>
                <div class="td-value has-text-weight-semibold">
                  @Shared.FormatPercent(progress - model.progress_prev)%
                </div>
              </td>
              <td align="center">
                <label class="td-label">Tự tin</label>
                <div class="td-value">
                  <div class="select is-fullwidth">
                    <select @bind="model.confident">
                      <option value="0">- Chọn -</option>
                      @foreach (var sl in DbOkr.Confident())
                      {
                        <option value="@sl.id">@sl.name</option>
                      }
                    </select>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <hr class="m-0" />
              </td>
            </tr>
            <tr>
              <td>Kết quả then chốt</td>
              <td align="center">Đạt được</td>
              <td></td>
              <td align="center">Tự tin</td>
            </tr>
            @foreach (var checkin in model.key_results)
            {
              var kr = okr.key_results.SingleOrDefault(x => x.id == checkin.id);
              if (kr != null)
              {
                checkin.change = checkin.result - kr.result;

                <tr>
                  <td>
                    <span class="has-text-weight-semibold has-text-link">
                      @kr.name
                    </span>
                  </td>
                  <td colspan="2">
                    <label class="td-label">Đạt được</label>
                    <div class="td-value">
                      <div class="field has-addons">
                        <div class="control" style="width: 140px">
                          <InputDouble @bind-Value="checkin.result" @bind-Value:event="OnInput" Class="input has-text-right"
                                       Text="Đã đạt được" />
                        </div>
                        <div class="control is-expanded">
                          <div class="button is-static has-text-link">
                            @Shared.ConvertCurrency(kr.target) @kr.unit
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">Tự tin</label>
                    <div class="td-value">
                      <div class="select is-fullwidth">
                        <select @bind="checkin.confident">
                          <option value="0">- Chọn -</option>
                          @foreach (var sl in DbOkr.Confident())
                          {
                            <option value="@sl.id">@sl.name</option>
                          }
                        </select>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="4" class="pl-6 pb-4">
                    <ul class="columns is-multiline is-variable is-2">
                      @foreach (var qs in DbOkrCheckin.Question())
                      {
                        var checkVal = !string.IsNullOrEmpty(message) && string.IsNullOrEmpty(checkin.questions[qs.id]);
                        <li class="column is-full">
                          <div class="has-text-grey">@qs.name</div>
                          <div class="control pt-2">
                            <textarea @bind="checkin.questions[qs.id]" class="textarea is_bg @(checkVal ? "is-danger" : "")" rows="3" placeholder="Nhập đầy đủ thông tin bắt buộc..." />
                          </div>
                        </li>
                      }
                      @if (!model.draft || Layout.User.okr_checkin)
                      {
                        <li class="column is-full">
                          <div class="has-text-grey">Phản hồi KR</div>
                          <div class="control pt-2">
                            <input @bind="checkin.feedback" type="text" class="input is_bg" placeholder="Nhập phản hồi..." />
                          </div>
                        </li>
                      }
                    </ul>
                  </td>
                </tr>
              }
            }
          }
        </tbody>
      </table>

      @if (ProductService.CheckStorage(Layout.Company))
      {
        <div class="field is-grouped">
          <div class="control">File đính kèm</div>
          <div class="control">
            <FileUpload Path="okr/checkin/attach" Multiple="true" Small="true" Cloud="true" OnUpload="x => model.files.AddRange(x)" />
          </div>
        </div>
        <FileViews Delete="true" Values="model.files" />
      }

      <div class="field is-grouped is-grouped-multiline mt-5">
        @if (!model.checkin && Layout.User.okr_checkin)
        {
          <div class="control is-expanded pl-3">
            <label class="checkbox">
              <input @bind="okr.done" type="checkbox" />
              <span class="has-text-weight-semibold">Hoàn thành OKRs</span>
            </label>
          </div>
          <div class="control is-expanded has-text-right">
            <a class="button is-white has-text-danger" onclick="goBack()">
              <span>Hủy nhập</span>
            </a>
            <a class="button is-link" @onclick="AutoCheckin">
              <span class="icon">
                <i class="material-icons-outlined is-size-6">done</i>
              </span>
              <span>Hoàn tất Check-in</span>
            </a>
          </div>
        }
        else if (!model.checkin && model.draft)
        {
          if (string.IsNullOrEmpty(okr.user_checkin))
          {
            <div class="control" style="width: 650px;">
              <ul class="columns is-multiline is-vcentered is-mobile is-variable is-1">
                <li class="column is-narrow">
                  Chọn quản lý check-in
                </li>
                <li class="column is-one-quarter">
                  <DepartmentDropdown css="is-up" department="@filterDepartment"
                                      OnUpdate="x => filterDepartment = x" />
                </li>
                <li class="column is-narrow">
                  <MemberSearch department="@filterDepartment"
                                sources="shareStorage.MemberList" OnUpdate="UserSelected" />
                </li>
                @if (managerList.Count > 0)
                {
                  <li class="column is-full">
                    <div class="buttons">
                      @foreach (var manager in managerList)
                      {
                        <a class="button is-info is-rounded" @onclick="() => managerList.Remove(manager)">
                          <span>@manager.name</span>
                          <span class="icon">
                            <i class="material-icons-outlined is-size-6">close</i>
                          </span>
                        </a>
                      }
                    </div>
                  </li>
                }
              </ul>
            </div>
          }
          <div class="control is-expanded has-text-right">
            <a class="button is-white has-text-danger" onclick="goBack()">
              <span>Hủy nhập</span>
            </a>
            <a class="button is-link" @onclick="Update">
              <span class="icon">
                <i class="material-icons-outlined is-size-6">done</i>
              </span>
              <span>Hoàn tất</span>
            </a>
          </div>
        }
        else if (!model.checkin)
        {
          <div class="control">
            Chọn lần check-in tiếp theo
          </div>
          <div class="control has-icons-left" style="width: 140px;">
            <div class="input">
              <DateRangePicker SingleDatePicker="true" @bind-StartDate="nextCheckin"
                               MinDate="DateTime.Today.AddDays(1)" Drops="DropsType.Up" />
            </div>
            <span class="icon is-left has-text-link">
              <i class="material-icons-outlined is-size-6">calendar_today</i>
            </span>
          </div>
          <div class="control pl-2">
            hoặc chọn
          </div>
          <div class="control is-expanded pl-3">
            <label class="checkbox">
              <input @bind="okr.done" type="checkbox" />
              <span class="has-text-weight-semibold">Hoàn thành OKRs</span>
            </label>
          </div>
          <div class="control">
            <a class="button is-white has-text-danger" onclick="goBack()">
              <span>Trở về</span>
            </a>
            <a class="button is-link" @onclick="AlertCheckin">
              <span class="icon">
                <i class="material-icons-outlined is-size-6">done</i>
              </span>
              <span>Hoàn tất Check-in</span>
            </a>
          </div>
        }
      </div>
    </div>
  </section>
}

@if (showAlertCheckin)
{
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-card-head">
        <div class="modal-card-title">Thông báo xác nhận</div>
      </div>
      <section class="modal-card-body">
        <div class="has-text-weight-semibold">
          Bạn lựa chọn OKRs này đã hoàn thành. Tiến trình OKRs sẽ được lưu trữ và không thể cập nhật nữa.
          <br />
          Bạn có chắc chắn muốn tiếp tục?
        </div>
      </section>
      <div class="modal-card-foot">
        <button class="button is-success" @onclick="ConfirmCheckin">Xác nhận</button>
        <button class="button" @onclick="() => showAlertCheckin = false">Hủy</button>
      </div>
    </div>
  </div>
}

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public string OkrId { get; set; }
  [Parameter]
  public string CheckinId { get; set; }
  private string message = string.Empty;

  private OkrModel okr = null;
  private OkrCheckinModel model = new();
  private DateTimeOffset? nextCheckin = null;
  private List<DepartmentModel.SelectList> departments = new();
  private List<MemberModel> managerList = new();
  private string filterDepartment = string.Empty;
  private bool showAlertCheckin = false;

  private SharedStorage shareStorage = new();

  protected override async Task OnInitializedAsync()
  {
    shareStorage = await globalService.GetShareStorage(Layout.Company.id);
    departments = await DbDepartment.GetSelectListOfUser(Layout.Company.id, Layout.User.departments_id, null);

    okr = await DbOkr.Get(Layout.Company.id, OkrId);
    if (okr != null)
    {
      if (!string.IsNullOrEmpty(CheckinId))
        model = await DbOkrCheckin.Get(Layout.Company.id, CheckinId);
      else
      {
        model = new()
          {
            cycle = okr.cycle,
            user_create = okr.user_create,
            okr = okr.id,
            progress_prev = DbOkr.GetProgress(okr.key_results),
            draft = true,
            key_results = new()
          };
        foreach (var kr in okr.key_results)
        {
          model.key_results.Add(new()
            {
              id = kr.id,
              result = kr.result,
              questions = new() { "", "", "", "" }
            });
        }
      }
    }
  }

  private void UserSelected(string value)
  {
    var item = shareStorage.MemberList.FirstOrDefault(x => x.id == value);
    if (item != null && item.id != Layout.User.id)
      managerList.Add(item);
  }

  private async Task<bool> Delete()
  {
    bool _success = true;
    try
    {
      if (!await JSRuntime.InvokeAsync<bool>("confirm", "Bạn có chắc muốn xóa bản check-in nháp này để thực hiện lại?"))
        return _success;

      await DbOkrCheckin.Delete(Layout.Company.id, model.id);
      if (okr.status_checkin_old == 3)
        okr.status_checkin = 3;
      else
        okr.status_checkin = 0;

      okr.date_checkin = okr.date_checkin_confirm;
      await DbOkr.Update(Layout.Company.id, okr);
      navigation.NavigateTo($"/okr/checkin/{okr.id}/info");
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "Delete()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task<bool> Update()
  {
    bool _success = true;
    try
    {
      if (model.confident == 0)
      {
        message = "Chưa nhập mức độ tự tin của Mục tiêu !";
      }
      else if (model.key_results.Where(x => x.confident == 0).Count() > 0)
      {
        message = "Chưa nhập mức độ tự tin của Kết quả then chốt !";
      }
      else if (ValidationQuestion() == false)
      {
        message = "Bạn cần nhập đầy đủ tất cả thông tin bắt buộc !";
      }
      else if (string.IsNullOrEmpty(okr.user_checkin) && managerList.Count == 0)
      {
        message = "Bạn chưa chọn quản lý sẽ check-in với bạn !";
      }
      else
      {
        if (string.IsNullOrEmpty(model.id))
        {
          // Create Checkin on DB
          await DbOkrCheckin.Create(Layout.Company.id, model);

          // Gửi thông báo chuông cho quản lý
          if (!string.IsNullOrEmpty(okr.user_checkin))
            await DbNotify.Create(Layout.Company.id, 503, model.id, okr.user_checkin, Layout.User.id);
          else
          {
            foreach (var user in managerList)
              await DbNotify.Create(Layout.Company.id, 503, model.id, user.id, Layout.User.id);
          }
        }
        else
        {
          // Update Checkin on DB
          await DbOkrCheckin.Update(Layout.Company.id, model);
        }

        okr.date_checkin = model.date_create;
        okr.status_checkin = 1;
        await DbOkr.Update(Layout.Company.id, okr);
        navigation.NavigateTo($"/okr/checkin/{okr.id}/info");
        return _success;
      }
      await JSRuntime.InvokeVoidAsync("tagline", false, message);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "Update()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task AlertCheckin()
  {
    #region Loại bỏ các KR đã xoá

    var key_results = new List<OkrCheckinModel.KeyResult>();
    foreach (var item in okr.key_results)
    {
      var krCheckin = model.key_results.SingleOrDefault(x => x.id == item.id);
      if (krCheckin != null)
        key_results.Add(krCheckin);
    }
    model.key_results = key_results;

    #endregion

    if (model.confident == 0)
    {
      message = "Chưa nhập mức độ tự tin của Mục tiêu !";
    }
    else if (model.key_results.Where(x => x.confident == 0).Count() > 0)
    {
      message = "Chưa nhập mức độ tự tin của Kết quả then chốt !";
    }
    else if (model.key_results.Where(x => string.IsNullOrEmpty(x.feedback)).Count() > 0)
    {
      message = "Bạn chưa nhập phản hồi cho kết quả then chốt !";
    }
    else if (nextCheckin == null && !okr.done && !Layout.User.okr_checkin)
    {
      message = "Bạn chưa chọn lần check-in tiếp theo hoặc chọn Hoàn thành OKRs!";
    }
    else
    {
      if (okr.done)
      {
        // Yêu cầu xác nhận hoàn thành
        showAlertCheckin = true;
      }
      else
      {
        // Không yêu cầu xác nhận
        await ConfirmCheckin();
      }
      return;
    }
    await JSRuntime.InvokeVoidAsync("tagline", false, message);
  }

  private async Task<bool> ConfirmCheckin()
  {
    bool _success = true;
    try
    {
      // Update Checkin
      model.checkin = true;
      model.date_checkin = DateTime.Now.Ticks;
      await DbOkrCheckin.Update(Layout.Company.id, model);

      foreach (var kr in okr.key_results)
      {
        var checkin = model.key_results.SingleOrDefault(x => x.id == kr.id);
        if (checkin != null)
        {
          kr.result = checkin.result;
          kr.change = checkin.change;
          kr.confident = checkin.confident;
        }
      }

      // Update OKRs
      okr.confident = model.confident;
      okr.progress_prev = model.progress_prev;
      okr.status_checkin = 3;
      okr.status_checkin_old = 3;
      if (!okr.done && nextCheckin != null)
        okr.next_checkin = nextCheckin.Value.DateTime.Ticks;
      await DbOkr.Update(Layout.Company.id, okr);

      // Tạo lịch checkin
      var dayCheckin = await DbDayCheckin.GetbyOkr(Layout.Company.id, okr.id);
      if (dayCheckin == null && !okr.done)
      {
        dayCheckin = new DayCheckinModel();
        dayCheckin.cycle = Layout.CycleId;
        dayCheckin.okr = okr.id;
        dayCheckin.okr_name = okr.name;
        dayCheckin.user_create = okr.user_create;
        dayCheckin.user_checkin = okr.user_checkin;
        dayCheckin.date_checkin = okr.next_checkin;
        dayCheckin.status = 0;
        await DbDayCheckin.Create(Layout.Company.id, dayCheckin);
      }

      // Gửi thông báo chuông
      await DbNotify.Create(Layout.Company.id, 505, model.id, okr.user_checkin, Layout.User.id);

      navigation.NavigateTo($"/okr/checkin/{okr.id}/info", false);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "ConfirmCheckin()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task<bool> AutoCheckin()
  {
    bool _success = true;

    try
    {
      if (model.confident == 0)
      {
        message = "Chưa nhập mức độ tự tin của Mục tiêu !";
      }
      else if (model.key_results.Where(x => x.confident == 0).Count() > 0)
      {
        message = "Chưa nhập mức độ tự tin của Kết quả then chốt !";
      }
      else if (ValidationQuestion() == false)
      {
        message = "Bạn cần nhập đầy đủ tất cả thông tin bắt buộc !";
      }
      else
      {
        // Tạo bản checkin
        model.draft = false;
        model.checkin = true;
        model.date_checkin = DateTime.Now.Ticks;
        if (string.IsNullOrEmpty(model.id))
          await DbOkrCheckin.Create(Layout.Company.id, model);
        else
          await DbOkrCheckin.Update(Layout.Company.id, model);


        // Cập nhật lại KR khi checkin
        foreach (var kr in okr.key_results)
        {
          var checkin = model.key_results.SingleOrDefault(x => x.id == kr.id);
          if (checkin != null)
          {
            kr.result = checkin.result;
            kr.change = checkin.change;
            kr.confident = checkin.confident;
          }
        }

        // Cập nhật OKRs khi checkin
        okr.status_checkin = 3;
        okr.status_checkin_old = 3;
        okr.next_checkin = 0;
        okr.date_checkin = DateTime.Now.Ticks;
        okr.confident = model.confident;
        okr.progress_prev = model.progress_prev;
        await DbOkr.Update(Layout.Company.id, okr);

        navigation.NavigateTo($"/okr/checkin/{okr.id}/info", false);
      }
      await JSRuntime.InvokeVoidAsync("tagline", false, message);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "AutoCheckin()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private bool ValidationQuestion()
  {
    foreach (var keyResult in model.key_results)
    {
      if (keyResult.questions.Where(x => string.IsNullOrEmpty(x)).Count() > 0
        || keyResult.questions.Where(x => string.IsNullOrEmpty(x.Trim())).Count() > 0)
        return false;
    }
    return true;
  }
}