@page "/okr/review/{UserId}/{OkrId}"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
@inject GlobalService globalService

<PageTitle>Đánh giá OKRs</PageTitle>

<section class="main_content">
  <div class="card">
    @if (userInfo != null && okr != null)
    {
      var progress = DbOkr.GetProgress(okr.key_results);
      var okrColor = Shared.ProgressColor(progress);

      <ul class="columns is-vcentered is-variable is-2 mb-2">
        <li class="column is-narrow">
          <a href="/okr/review" class="icon-text">
            <span class="icon">
              <span class="material-icons-outlined">
                keyboard_backspace
              </span>
            </span>
            <span>
              Trở về
            </span>
          </a>
        </li>
        <li class="column is-full-mobile">
          <div class="user_item">
            <img class="image is-36x36 mr-2" src="@userInfo.avatar" alt="IMG">
            <div>
              <p class="has-text-weight-semibold has-text-info is-size-6">
                @userInfo.FullName
              </p>
              <p class="text_1_line has-text-grey is-size-7" style="max-width: 200px;">
                @userInfo.departments_name
              </p>
            </div>
          </div>
        </li>
        <li class="column is-one-third">
          <div class="field has-addons">
            <div class="control">
              <span class="button is-static">
                OKRs
              </span>
            </div>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select @onchange="ChangeOkr">
                  @foreach (var item in okrList)
                  {
                    if (okr.id == item.id)
                    {
                      <option value="@item.id" selected>@item.name</option>
                    }
                    else
                    {
                      <option value="@item.id">@item.name</option>
                    }
                  }
                </select>
              </div>
            </div>
          </div>
        </li>
        @if (Layout.User.id == okr.user_create)
        {
          <li class="column is-narrow">
            <div class="buttons">
              @if (editMode == 1)
              {
                <a class="button is-danger" @onclick="Cancel">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">cancel</i>
                  </span>
                  <span>Hủy</span>
                </a>
              }
              else if (okr.review_send_status == 0)
              {
                <a class="button is-link" @onclick="() => editMode = 1">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">fact_check</i>
                  </span>
                  <span>Tạo bản đánh giá</span>
                </a>
              }
              else if (okr.review_send_status == 1)
              {
                <a class="button is-info" @onclick="() => editMode = 1">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">edit</i>
                  </span>
                  <span>Chỉnh sửa</span>
                </a>
                <a class="button is-link" @onclick="SendReview">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">fact_check</i>
                  </span>
                  <span>Gửi đánh giá</span>
                </a>
              }
              else if (okr.review_send_status == 2)
              {
                <span class="icon-text has-text-link">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">done</i>
                  </span>
                  <span>Đã gửi</span>
                </span>
              }
              else if (okr.review_send_status == 3)
              {
                <span class="icon-text has-text-link">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">done</i>
                  </span>
                  <span>Đã xác nhận</span>
                </span>
              }
            </div>
          </li>
        }
        else if (Layout.User.id == okr.review_manager_id)
        {
          <li class="column is-narrow">
            <div class="buttons">
              @if (editMode == 2)
              {
                <a class="button is-danger" @onclick="Cancel">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">cancel</i>
                  </span>
                  <span>Hủy</span>
                </a>
              }
              else if (okr.review_send_status == 2)
              {
                <a class="button is-link" @onclick="() => editMode = 2">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">fact_check</i>
                  </span>
                  <span>Đánh giá</span>
                </a>
                <a class="button is-info" @onclick="OpenReview">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">refresh</i>
                  </span>
                  <span>Đánh giá lại</span>
                </a>
              }
              else if (okr.review_send_status == 3)
              {
                <a class="button is-info" @onclick="OpenReview">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">refresh</i>
                  </span>
                  <span>Đánh giá lại</span>
                </a>
                <span class="icon-text has-text-link">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">done</i>
                  </span>
                  <span>Đã đánh giá</span>
                </span>
              }
            </div>
          </li>
        }
      </ul>

      <div class="@(okr.review_send_status == 0 && editMode == 0 ? "inner_section" : "")">
        @if (okr.review_manager_id == Layout.User.id || okr.review_viewers.Contains(Layout.User.id)
       || okr.user_create == Layout.User.id || isManager)
        {
          <table class="table is-fullwidth is-vcentered is-noborder is-responsive">
            <thead>
              <tr class="is-size-7" style="border-bottom: 1px solid #DEDEDE;">
                <th class="pt-0">Mục tiêu</th>
                <th class="pt-0" width="150px" align="center">Tiến độ</th>
                <th class="pt-0" width="120px" align="center">Điểm hệ thống</th>
                <th class="pt-0" width="120px" align="center">Tự đánh giá</th>
                <th class="pt-0" width="120px" align="center">QL đánh giá</th>
              </tr>
            </thead>
            <tbody>
              @if (okr.review_send_status == 0 && editMode == 0)
              {
                <tr>
                  <td>
                    <span class="has-text-weight-semibold has-text-link">
                      @okr.name
                    </span>
                  </td>
                  <td>
                    <label class="td-label">Tiến độ</label>
                    <div class="td-value">
                      <div class="progress_has_value">
                        <progress class="progress is-small @okrColor" value="@Convert.ToInt32(progress)" max="100" />
                        <span>@Shared.FormatPercent(progress)%</span>
                      </div>
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">Điểm hệ thống</label>
                    <div class="td-value">
                      <div class="input is-centered has-text-weight-semibold is_bg">
                        @Shared.FormatPercent(progress)%
                      </div>
                    </div>
                  </td>
                  <td align="center"></td>
                  <td align="center"></td>
                </tr>
                <tr class="tr-hide">
                  <td colspan="5">
                    <hr class="m-0" />
                  </td>
                </tr>
                <tr class="has-text-grey">
                  <td class="pl-6">Kết quả then chốt</td>
                  <td align="center">Đạt được</td>
                  <td align="center">Điểm hệ thống</td>
                  <td align="center">Tự đánh giá</td>
                  <td align="center">QL đánh giá</td>
                </tr>
                @foreach (var kr in okr.key_results)
                {
                  <tr>
                    <td class="pl-6">
                      <span class="has-text-weight-semibold has-text-link">
                        @kr.name
                      </span>
                    </td>
                    <td>
                      <label class="td-label">Tiến độ</label>
                      <div class="td-value">
                        <span class="has-text-success">
                          @Shared.ConvertNumber(kr.result)/@Shared.ConvertNumber(kr.target)
                        </span>
                        <span class="is-pulled-right">@kr.unit</span>
                      </div>
                    </td>
                    <td align="center">
                      <label class="td-label">Điểm hệ thống</label>
                      <div class="td-value">
                        <div class="input is-centered has-text-weight-semibold is_bg">
                          @Shared.FormatPercent(Shared.Progress(kr.result, kr.target))%
                        </div>
                      </div>
                    </td>
                    <td align="center"></td>
                    <td align="center"></td>
                  </tr>
                }
                <tr>
                  <td colspan="5" class="pl-6 has-text-grey has-text-weight-semibold is-italic">
                    Chưa có bản đánh giá cho OKRs này
                  </td>
                </tr>
              }
              else
              {
                <tr>
                  <td>
                    <span class="has-text-weight-semibold has-text-link">
                      @okr.name
                    </span>
                  </td>
                  <td>
                    <label class="td-label">Tiến độ</label>
                    <div class="td-value">
                      <div class="progress_has_value">
                        <progress class="progress is-small @okrColor" value="@Convert.ToInt32(progress)" max="100"></progress>
                        <span>@Shared.FormatPercent(progress)%</span>
                      </div>
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">Điểm hệ thống</label>
                    <div class="td-value">
                      <div class="input is-centered has-text-weight-semibold is_bg">
                        @Shared.FormatPercent(progress)%
                      </div>
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">Tự đánh giá</label>
                    <div class="td-value">
                      <div class="input is-centered has-text-weight-semibold is_bg">
                        @Shared.FormatPercent(OkrStaffPoint())%
                      </div>
                    </div>
                  </td>
                  <td align="center">
                    <label class="td-label">QL đánh giá</label>
                    <div class="td-value">
                      <div class="input is-centered has-text-weight-semibold is_bg">
                        @Shared.FormatPercent(OkrManagerPoint())%
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="td-block">
                    <div class="field">
                      <label class="label">Nhân sự nhận xét OKRs</label>
                      <div class="control">
                        @if (editMode == 1)
                        {
                          <textarea @bind="okr.review_data.staff_comment" class="textarea is_bg" rows="2"
                                    placeholder="Nhập nhận xét của bạn" />
                        }
                        else
                        {
                          <div class="has_bg is_radius p-3 is-word-break">
                            @((MarkupString)Shared.TextToHtml(okr.review_data.staff_comment))
                          </div>
                        }
                      </div>
                    </div>
                  </td>
                </tr>
                @if (!string.IsNullOrEmpty(okr.review_data.manager_comment) || editMode == 2)
                {
                  <tr>
                    <td colspan="5" class="td-block">
                      <div class="field">
                        <label class="label">Quản lý nhận xét OKRs</label>
                        <div class="control">
                          @if (editMode == 2)
                          {
                            <textarea @bind="okr.review_data.manager_comment" class="textarea is_bg" rows="2"
                                      placeholder="Nhập nhận xét của bạn" />
                          }
                          else
                          {
                            <div class="has_bg is_radius p-3 is-word-break">
                              @((MarkupString)Shared.TextToHtml(okr.review_data.manager_comment))
                            </div>
                          }
                        </div>
                      </div>
                    </td>
                  </tr>
                }
                <tr class="is-hidden-mobile">
                  <td colspan="5">
                    <hr class="m-0" />
                  </td>
                </tr>
                <tr class="has-text-grey is-hidden-mobile">
                  <td class="pl-6">Kết quả then chốt</td>
                  <td align="center">Đạt được</td>
                  <td align="center">Điểm hệ thống</td>
                  <td align="center">Tự đánh giá</td>
                  <td align="center">QL đánh giá</td>
                </tr>
                @foreach (var kr in okr.key_results)
                {
                  <tr>
                    <td class="pl-6">
                      <span class="has-text-weight-semibold has-text-link">
                        @kr.name
                      </span>
                    </td>
                    <td>
                      <label class="td-label">Tiến độ</label>
                      <div class="td-value">
                        <span class="has-text-success">
                          @Shared.ConvertNumber(kr.result)/@Shared.ConvertNumber(kr.target)
                        </span>
                        <span class="is-pulled-right">@kr.unit</span>
                      </div>
                    </td>
                    <td align="center">
                      <label class="td-label">Điểm hệ thống</label>
                      <div class="td-value">
                        <div class="input is-centered has-text-weight-semibold is_bg">
                          @Shared.FormatPercent(Shared.Progress(kr.result, kr.target))%
                        </div>
                      </div>
                    </td>
                    <td align="center">
                      <label class="td-label">Tự đánh giá</label>
                      <div class="td-value">
                        @if (editMode == 1)
                        {
                          <div class="control has-icons-right">
                            <input @bind="kr.review_data.staff_point" placeholder="Nhập số điểm"
                                   class="input has-text-centered has-text-weight-semibold is_bg" />
                            <span class="icon is-right has-text-dark">%</span>
                          </div>
                        }
                        else
                        {
                          <div class="input is-centered has-text-weight-semibold is_bg">
                            @kr.review_data.staff_point%
                          </div>
                        }
                      </div>
                    </td>
                    <td align="center">
                      <label class="td-label">QL đánh giá</label>
                      <div class="td-value">
                        @if (editMode == 2)
                        {
                          <div class="control has-icons-right">
                            <input @bind="kr.review_data.manager_point" placeholder="Nhập số điểm"
                                   class="input has-text-centered has-text-weight-semibold is_bg" />
                            <span class="icon is-right has-text-dark">%</span>
                          </div>
                        }
                        else
                        {
                          <div class="input is-centered has-text-weight-semibold is_bg">
                            @kr.review_data.manager_point%
                          </div>
                        }
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" class="pl-6 td-block">
                      <div class="field">
                        <label class="label">Nhân sự nhận xét KRs</label>
                        <div class="control">
                          @if (editMode == 1)
                          {
                            <textarea @bind="kr.review_data.staff_comment" class="textarea is_bg" rows="2"
                                      placeholder="Nhập nhận xét của bạn" />
                          }
                          else
                          {
                            <div class="has_bg is_radius p-3 is-word-break">
                              @((MarkupString)Shared.TextToHtml(kr.review_data.staff_comment))
                            </div>
                          }
                        </div>
                      </div>
                    </td>
                  </tr>
                  @if (!string.IsNullOrEmpty(kr.review_data.manager_comment) || editMode == 2)
                  {
                    <tr>
                      <td colspan="5" class="pl-6 td-block">
                        <div class="field">
                          <label class="label">Quản lý nhận xét KRs</label>
                          <div class="control">
                            @if (editMode == 2)
                            {
                              <textarea @bind="kr.review_data.manager_comment" class="textarea is_bg" rows="2"
                                        placeholder="Nhập nhận xét của bạn" />
                            }
                            else
                            {
                              <div class="has_bg is_radius p-3 is-word-break">
                                @((MarkupString)Shared.TextToHtml(kr.review_data.manager_comment))
                              </div>
                            }
                          </div>
                        </div>
                      </td>
                    </tr>
                  }
                }
                <tr class="is-hidden-mobile">
                  <td colspan="5">
                    <hr class="m-0" />
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="td-block">
                    <span class="has-text-weight-semibold is-size-6 has-text-info mr-2">Nhân sự phản hồi</span>
                    <div class="dropdown is-up is-hoverable">
                      <div class="dropdown-trigger">
                        <span class="icon">
                          <i class="material-icons material-icons-outlined is-size-5">infor</i>
                        </span>
                      </div>
                      <div class="dropdown-menu">
                        <div class="dropdown-content" style="min-width:400px;width:fit-content">
                          <div class="dropdown-item content">
                            <p class="has-text-weight-semibold">Gợi ý câu hỏi</p>
                            <p>Bạn nhận được gì từ người quản lý của bạn mà bạn thấy hữu ích hoặc giúp đỡ bạn tốt?</p>
                            <p>Điều gì từ người quản lý đã gây ảnh hưởng tới hoạt động OKRs này của bạn?</p>
                            <p>Nếu quay lại thời gian, người quản lý nên làm gì để giúp bạn thành công trong OKRs này hơn?</p>
                            <p>Các kỹ năng, năng lực tôi muốn cải thiện và tốt hơn trong tương lai?</p>
                            <p>Điều gì từ công ty mà bạn kỳ vọng sẽ giúp ích cho việc cải thiện năng lực của bạn?</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="control mt-2">
                      @if (editMode == 1)
                      {
                        <textarea @bind="okr.review_staff_comment" class="textarea is_bg" rows="2"
                                  placeholder="Nhập phản hồi của bạn" />
                      }
                      else
                      {
                        <div class="has_bg is_radius p-3 is-word-break">
                          @((MarkupString)Shared.TextToHtml(okr.review_staff_comment))
                        </div>
                      }
                    </div>
                  </td>
                </tr>
                @if (!string.IsNullOrEmpty(okr.review_manager_comment) || editMode == 2)
                {
                  <tr>
                    <td colspan="5" class="td-block">
                      <span class="has-text-weight-semibold is-size-6 has-text-info mr-2">Quản lý phản hồi</span>
                      <div class="dropdown is-up is-hoverable">
                        <div class="dropdown-trigger">
                          <span class="icon">
                            <i class="material-icons material-icons-outlined is-size-5">infor</i>
                          </span>
                        </div>
                        <div class="dropdown-menu">
                          <div class="dropdown-content" style="min-width:400px;width:fit-content">
                            <div class="dropdown-item content">
                              <p class="has-text-weight-semibold">Gợi ý câu hỏi</p>
                              <p>OKRs này, Nhân sự làm việc như thế nào, hiệu quả chưa?</p>
                              <p>Nhân sự cần làm gì để quý cải thiện và tốt hơn?</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="control mt-2">
                        @if (editMode == 2)
                        {
                          <textarea @bind="okr.review_manager_comment" class="textarea is_bg" rows="2"
                                    placeholder="Nhập phản hồi của bạn" />
                        }
                        else
                        {
                          <div class="has_bg is_radius p-3 is-word-break">
                            @((MarkupString)Shared.TextToHtml(okr.review_manager_comment))
                          </div>
                        }
                      </div>
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>

          @if (editMode == 1)
          {
            <ul class="columns is-multiline is-variable is-2 is-mobile">
              <li class="column is-half is-full-mobile">
                <div class="has-text-grey mb-2">Chọn người đánh giá</div>
                <ul class="columns is-vcentered is-multiline is-variable is-2">
                  <li class="column is-4">
                    <DepartmentDropdown main="Chọn phòng ban" css="is-left is-up"
                                        department="@departmentManager" OnUpdate="x => departmentManager = x" />
                  </li>
                  <li class="column is-6">
                    <MemberSearch department="@departmentManager" sources="shareStorage.MemberList"
                                  OnUpdate="x => okr.review_manager_id = x" />
                  </li>
                  <li class="column is-2"></li>
                  @if (!string.IsNullOrEmpty(okr.review_manager_id))
                  {
                    var member = UserService.GetMember(shareStorage.MemberList, okr.review_manager_id);
                    <li class="column is-narrow">
                      <div class="icon-text">
                        <span class="image is-rounded is-24x24">
                          <img src="@member.avatar" alt="AVT">
                        </span>
                        <span class="ml-2">@member.name</span>
                        <a class="icon has-text-danger" @onclick="() => okr.review_manager_id = null">
                          <i class="material-icons-outlined is-size-6">close</i>
                        </a>
                      </div>
                    </li>
                  }
                </ul>
              </li>
              <li class="column is-half is-full-mobile">
                <div class="has-text-grey mb-2">Chọn người xem</div>
                <ul class="columns is-vcentered is-multiline is-variable is-2">
                  <li class="column is-4">
                    <DepartmentDropdown main="Chọn phòng ban" css="is-left is-up"
                                        department="@departmentViewers" OnUpdate="x => departmentViewers = x" />
                  </li>
                  <li class="column is-6">
                    <MemberSelected title="Chọn người xem" department="@departmentViewers" sources="shareStorage.MemberList"
                                    members="okr.review_viewers" OnUpdate="x => okr.review_viewers = x" />
                  </li>
                  <li class="column is-2"></li>
                  @foreach (var memberId in okr.review_viewers)
                  {
                    var member = UserService.GetMember(shareStorage.MemberList, memberId);
                    <li class="column is-narrow">
                      <div class="icon-text">
                        <span class="image is-rounded is-24x24">
                          <img src="@member.avatar" alt="AVT">
                        </span>
                        <span class="ml-2">@member.name</span>
                        <a class="icon has-text-danger" @onclick="() => okr.review_viewers.Remove(memberId)">
                          <i class="material-icons-outlined is-size-6">close</i>
                        </a>
                      </div>
                    </li>
                  }
                </ul>
              </li>
              <li class="column">
                <a class="button is-info" @onclick="SaveDraft">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">save</i>
                  </span>
                  <span>Lưu nháp</span>
                </a>
              </li>
              <li class="column is-narrow">
                <a class="button is-white has-text-danger" @onclick="Cancel">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">close</i>
                  </span>
                  <span>Hủy</span>
                </a>
              </li>
              <li class="column is-narrow is-full-mobile">
                <a class="button is-link" @onclick="SendReview">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">fact_check</i>
                  </span>
                  <span>Gửi đánh giá</span>
                </a>
              </li>
            </ul>
          }
          else if (editMode == 2)
          {
            <ul class="columns is-multiline is-variable is-2 is-mobile">
              <li class="column"></li>
              <li class="column is-narrow">
                <a class="button is-white has-text-danger" @onclick="Cancel">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">close</i>
                  </span>
                  <span>Hủy</span>
                </a>
              </li>
              <li class="column is-narrow">
                <a class="button is-link" @onclick="DoneReview">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">done</i>
                  </span>
                  <span>Hoàn tất</span>
                </a>
              </li>
            </ul>
          }
        }
        else
        {
          <div class="py-6 has-text-grey">
            Bạn không có quyền xem đánh giá OKRs này!
          </div>
        }
      </div>
    }
    else
    {
      <div class="py-6 has-text-centered">
        Dữ liệu không tồn tại hoặc đã bị xóa!
      </div>
    }
  </div>
</section>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public string UserId { get; set; }
  [Parameter]
  public string OkrId { get; set; }
  private UserModel userInfo = null;
  private OkrModel okr = null;
  private List<OkrModel> okrList = new();
  private int editMode = 0;
  private bool isManager = false;
  private string departmentManager = string.Empty;
  private string departmentViewers = string.Empty;

  private SharedStorage shareStorage = new();

  protected override async Task OnParametersSetAsync()
  {
    shareStorage = await globalService.GetShareStorage(Layout.Company.id);
    editMode = 0;
    userInfo = await DbUser.Get(Layout.Company.id, UserId, globalService);
    okr = await DbOkr.Get(Layout.Company.id, OkrId);
    okrList = await DbOkr.GetList(Layout.Company.id, Layout.CycleId, UserId);
    isManager = await DbDepartment.CheckManagerRole(Layout.Company.id, userInfo, Layout.User.id, null);
  }

  private void ChangeOkr(ChangeEventArgs e)
  {
    navigation.NavigateTo($"/okr/review/{UserId}/{e.Value}");
  }

  private async Task<bool> Cancel()
  {
    bool _success = true;
    try
    {
      editMode = 0;
      okr = await DbOkr.Get(Layout.Company.id, OkrId);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "Cancel()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private double OkrStaffPoint()
  {
    if (okr.key_results.Count > 0)
    {
      double total = okr.key_results.Sum(x => x.review_data.staff_point);
      return total / okr.key_results.Count;
    }
    return 0;
  }

  private double OkrManagerPoint()
  {
    if (okr.key_results.Count > 0)
    {
      double total = okr.key_results.Sum(x => x.review_data.manager_point);
      return total / okr.key_results.Count;
    }
    return 0;
  }

  private async Task<bool> SaveDraft()
  {
    bool _success = true;
    try
    {
      editMode = 0;
      okr.review_send_status = 1;
      okr.review_data.staff_point = OkrStaffPoint();
      okr.review_data.manager_point = OkrManagerPoint();
      await DbOkr.Update(Layout.Company.id, okr);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "SaveDraft()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task<bool> SendReview()
  {
    bool _success = true;
    try
    {
      if (Shared.IsEmpty(okr.review_data.staff_comment))
        await JSRuntime.InvokeVoidAsync("tagline", false, "Bạn chưa nhập nhận xét OKRs!");
      else if (okr.key_results.Any(x => Shared.IsEmpty(x.review_data.staff_comment)))
        await JSRuntime.InvokeVoidAsync("tagline", false, "Bạn chưa nhập nhận xét KR!");
      else if (Shared.IsEmpty(okr.review_staff_comment))
        await JSRuntime.InvokeVoidAsync("tagline", false, "Bạn chưa nhập nhân sự phản hồi!");
      else if (Shared.IsEmpty(okr.review_manager_id))
        await JSRuntime.InvokeVoidAsync("tagline", false, "Bạn chưa chọn người đánh giá!");
      else
      {
        okr.review_send_status = 2;
        okr.review_send_date = DateTime.Now.Ticks;
        okr.review_data.staff_point = OkrStaffPoint();
        okr.review_data.manager_point = OkrManagerPoint();
        await DbOkr.Update(Layout.Company.id, okr);
        // Gửi thông báo cho quản lý
        await DbNotify.Create(Layout.Company.id, 508, okr.id, okr.review_manager_id, Layout.User.id);
        // Gửi thông báo cho người xem
        foreach (var userId in okr.review_viewers)
          await DbNotify.Create(Layout.Company.id, 511, okr.id, userId, Layout.User.id);
        await JSRuntime.InvokeVoidAsync("tagline", true, "Đã gửi bản tự đánh giá cho quản lý.");
        editMode = 0;
      }
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "SendReview()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }

    return _success;
  }

  private async Task<bool> OpenReview()
  {
    bool _success = true;
    try
    {
      if (!await JSRuntime.InvokeAsync<bool>("confirm", "Bạn có chắc muốn đánh giá lại bản đánh giá này?"))
        return _success;
      okr.review_send_status = 1;
      await DbOkr.Update(Layout.Company.id, okr);
      // Gửi thông báo cho nhân viên
      await DbNotify.Create(Layout.Company.id, 509, okr.id, okr.user_create, Layout.User.id);
      await JSRuntime.InvokeVoidAsync("tagline", true, "Đã mở lại đánh giá bản đánh giá OKR.");
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "OpenReview()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task<bool> DoneReview()
  {
    bool _success = true;
    try
    {
      if (Shared.IsEmpty(okr.review_data.manager_comment))
        await JSRuntime.InvokeVoidAsync("tagline", false, "Bạn chưa nhập nhận xét OKRs!");
      else if (okr.key_results.Any(x => Shared.IsEmpty(x.review_data.manager_comment)))
        await JSRuntime.InvokeVoidAsync("tagline", false, "Bạn chưa nhập nhận xét KR!");
      else if (Shared.IsEmpty(okr.review_manager_comment))
        await JSRuntime.InvokeVoidAsync("tagline", false, "Bạn chưa nhập quản lý phản hồi!");
      else
      {
        okr.review_send_status = 3;
        okr.review_manager_date = DateTime.Now.Ticks;
        okr.review_data.staff_point = OkrStaffPoint();
        okr.review_data.manager_point = OkrManagerPoint();
        await DbOkr.Update(Layout.Company.id, okr);
        // Gửi thông báo cho nhân viên
        await DbNotify.Create(Layout.Company.id, 510, okr.id, okr.user_create, Layout.User.id);
        await JSRuntime.InvokeVoidAsync("tagline", true, "Đã xác nhận bản đánh giá OKR thành công.");
        editMode = 0;
      }
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "DoneReview()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }
}