@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<div class="timeline is-size-7 has-text-grey">
  <Virtualize Items="logs" Context="item" ItemSize="84">
    <div class="item pb-4">
      <span>@item.name:</span>
      <span class="has-text-weight-semibold has-text-info">@item.detail</span>
      <div class="py-1">@string.Format("{0:dd/MM/yyyy - HH:mm}", new DateTime(item.date))</div>
      <span class="image is-24x24 is-rounded" title="@item.user.name">
        <img src="@item.user.avatar" alt="IMG">
      </span>
    </div>
  </Virtualize>
</div>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public List<WorkLogModel> logs { get; set; }
}