@page "/admin"
@page "/admin/home"
@layout LayoutAdmin
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
@inject GlobalService globalService

<PageTitle>@_title</PageTitle>

<section class="p-4 is-flex" style="min-height: 90vh; align-items: center; justify-content: center;">
  @if (ConfigSystem.DeveloperId.Contains(Layout.User.id))
  {
    <div>
      <div>
        Xử lý bộ nhớ
      </div>

      <div class="buttons">
        <span class="button is-link has-text-weight-bold" style="width: 92px;">
          Ảnh
        </span>
        <input @bind="@company" class="button" placeholder="Nhập ID công ty"title="Bỏ trống sẽ đồng bộ tất cả công ty" />
        <input @bind="@compress" type="number" class="button" placeholder="Mức độ nén" title="Kích thước nén ảnh" />
        <a class="button is-danger" @onclick="ResizeImageAll">
          Nén tất cả avatar
        </a>
        <a class="button is-danger" @onclick="MoveImageToCloud">
          Chuyển blog and banner lên Cloud
        </a>
      </div>

      <div class="buttons">
        <span class="button is-dark has-text-weight-bold" style="width: 92px;">BƯỚC 1</span>
        <a class="button is-danger" @onclick="DeleteCompanyList">
          Xóa tất cả tổ chức
        </a>
        <a class="button is-danger" @onclick="DeleteUserList">
          Xóa tất cả tài khoản
        </a>
        <a class="button is-danger" @onclick="Testing">
          Testing
        </a>
      </div>

      <div class="buttons">
        <span class="button is-dark has-text-weight-bold" style="width: 92px;">BƯỚC 2</span>
        <a class="button is-link" @onclick="MoveCompanyList">
          Chuyển dữ liệu tổ chức
        </a>
        <a class="button is-link" @onclick="MoveUserList">
          Chuyển dữ liệu tài khoản
        </a>
      </div>

      <div class="buttons">
        <span class="button is-dark has-text-weight-bold" style="width: 92px;">BƯỚC 2</span>
        <a class="button is-link" @onclick="UpdateUserDepartmentName">
          Cập nhật tên phòng ban
        </a>
      </div>

      <div class="buttons">
        <span class="button is-dark has-text-weight-bold" style="width: 92px;">BƯỚC 3</span>
        <a class="button is-warning" @onclick="MoveCompanyAll">
          Chuyển toàn bộ dữ liệu của tổ chức
        </a>
        <a class="button is-warning" @onclick="GetCompanyInWork">
          Xem tất cả tổ chức trong DB Workdo
        </a>
      </div>

      <div class="buttons">
        <span class="button is-dark has-text-weight-bold" style="width: 92px;">CÔNG CỤ</span>
        <a class="button is-primary" @onclick="GetCompanyList">
          Lấy danh sách tổ chức
        </a>
        <a class="button is-primary" @onclick="GetUserList">
          Lấy danh sách tài khoản
        </a>
        <a class="button is-primary" @onclick="ResetUsersStart">
          Đồng bộ dữ liệu ví sao
        </a>
      </div>

      @if (companys.Count > 0)
      {
        <table class="table is-bordered is-vcentered">
          <thead>
            <tr>
              <th>ID</th>
              <th width="300px">Name</th>
              <th>Status</th>
              <th>Delete</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in companys)
            {
              <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@(item.status ? "Active" : "")</td>
                <td>@(item.delete ? "Delete" : "")</td>
                <td>
                  @if (!item.delete)
                  {
                    <a class="tag is-@(item.status ? "link" : "danger")" @onclick="() => MoveCompanyData(item)">Đồng bộ</a>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  }
  else
  {
    <div class="has-text-centered has-text-weight-bold is-uppercase">
      FASTDO CMS - Quản lý hệ thống
    </div>
  }
</section>


@code {
  [CascadingParameter]
  public LayoutAdmin Layout { get; set; }
  private string _title = "FASTDO CMS";
  private List<string> customers = new();

  private string company;
  private int compress = 1000;

  private async Task DeleteUserList()
  {
    int count = 0;
    await JSRuntime.InvokeVoidAsync("console.warn", "Xóa tài khoản cũ");
    var data = await BackupData.GetList<UserModel>("fastdo", "users");
    foreach (var item in data)
    {
      if (!item.is_admin)
      {
        // Xóa tài khoản cũ nhưng không xóa admin
        BackupData.Delete<UserModel>("fastdo", "users", item.id);
        await JSRuntime.InvokeVoidAsync("console.log", item.email + " => delete");
        count++;
      }
    }
    await JSRuntime.InvokeVoidAsync("console.log", $"DELETE {count}/{data.Count} user");
  }

  private async Task DeleteCompanyList()
  {
    await JSRuntime.InvokeVoidAsync("console.warn", "Xóa công ty cũ");
    var data = await BackupData.GetList<CompanyModel>("fastdo", "companys");
    foreach (var item in data)
    {
      // Xóa tổ chức trong database chính
      BackupData.Delete<CompanyModel>("fastdo", "companys", item.id);

      // Xóa dữ liệu trong database công ty
      var db_source = "fastdo_" + item.id;
      // departments
      await DeleteDataModel<DepartmentModel>(db_source, "departments");
      // okrs
      await DeleteDataModel<OkrModel>(db_source, "okrs");
      // okr_config
      await DeleteDataModel<OkrConfigModel>(db_source, "okr_config");
      // okr_stars
      await DeleteDataModel<OkrStarModel>(db_source, "okr_stars");
      // okr_cfrs
      await DeleteDataModel<OkrCfrModel>(db_source, "okr_cfrs");
      // okr_checkins
      await DeleteDataModel<OkrCheckinModel>(db_source, "okr_checkins");
      // kaizen
      await DeleteDataModel<KaizenModel>(db_source, "kaizen");
      // quotes
      await DeleteDataModel<QuotesModel>(db_source, "quotes");
      // todolist
      await DeleteDataModel<TodolistModel>(db_source, "todolist");
      // achievement
      await DeleteDataModel<AchievementModel>(db_source, "achievement");
      // gift_products
      await DeleteDataModel<GiftProductModel>(db_source, "gift_products");
      // days_checkin
      await DeleteDataModel<DayCheckinModel>(db_source, "days_checkin");

      await JSRuntime.InvokeVoidAsync("console.warn", item.id + " : " + item.name + " => Delete");
    }
  }

  private async Task Testing()
  {
    await JSRuntime.InvokeVoidAsync("console.warn", "Testing");
    //await DeleteDataModel<TodolistModel.Todo>("fastdo_C7A9347733", "todoitems");
  }

  private async Task DeleteDataModel<T>(string db_source, string table_name)
  {
    int count = 0;
    var data = await BackupData.GetList<T>(db_source, table_name);
    foreach (var item in data)
    {
      try
      {
        var id = BackupData.GetValue<T>(item, "id");
        BackupData.Delete<T>(db_source, table_name, id);
        count++;
        //await JSRuntime.InvokeVoidAsync("console.log", "Delete => " + id);
      }
      catch (System.Exception)
      {
        //await JSRuntime.InvokeVoidAsync("console.warn",$"EXIST => {ex.ToString()}");
      }
    }
    await JSRuntime.InvokeVoidAsync("console.log", $".....{table_name} => Delete {count}/{data.Count} item");
  }

  private async Task MoveCompanyList()
  {
    customers = new();
    await JSRuntime.InvokeVoidAsync("console.warn", "Chuyển dữ liệu tổ chức");
    var data = await BackupData.GetList<CompanyModel>("workdo", "companys");
    foreach (var item in data)
    {
      if (item.status && !item.delete)
      {
        // Thêm tài khoản khách hàng
        customers.Add(item.admin_id);
        // Chuyển dữ liệu
        try
        {
          item.products = new();
          BackupData.Create<CompanyModel>("fastdo", "companys", item);
          await JSRuntime.InvokeVoidAsync("console.log", "DONE => " + item.id + " : " + item.name);
        }
        catch (System.Exception)
        {
          await JSRuntime.InvokeVoidAsync("console.warn", "EXIST => " + item.id + " : " + item.name);
        }
      }
    }
  }

  private async Task MoveUserList()
  {
    await JSRuntime.InvokeVoidAsync("console.warn", "Chuyển dữ liệu tài khoản");
    var data = await BackupData.GetList<UserModel>("workdo", "users");
    int count = 0;
    foreach (var item in data)
    {
      if (!ConfigSystem.DeveloperId.Contains(item.id) && item.active && !item.delete)
      {
        // Chuyển dữ liệu
        try
        {
          if (customers.Contains(item.id))
            item.is_customer = true;
          BackupData.Create<UserModel>("fastdo", "users", item);
          await JSRuntime.InvokeVoidAsync("console.log", "....." + item.id + " : " + item.email);
          count++;
        }
        catch (System.Exception)
        {
          //await JSRuntime.InvokeVoidAsync("console.warn", "EXIST => " + item.id + " : " + item.email);
        }
      }
    }
    await JSRuntime.InvokeVoidAsync("console.log", $"DONE => {count}/{data.Count} user");
  }

  private List<CompanyModel> companys = new();
  private async Task GetCompanyInWork()
  {
    companys = await BackupData.GetList<CompanyModel>("workdo", "companys");
    companys = companys.OrderBy(x => x.delete).ToList();
  }

  private async Task MoveCompanyAll()
  {
    var data = await BackupData.GetList<CompanyModel>("fastdo", "companys");
    foreach (var item in data)
    {
      if (item.status && !item.delete)
        await MoveCompanyData(item);
    }
  }

  private async Task MoveCompanyData(CompanyModel item)
  {
    var db_source = "company_" + item.id;
    var db_target = "fastdo_" + item.id;
    await JSRuntime.InvokeVoidAsync("console.warn", $"Move data: [{item.id}] {item.name}");

    // users
    await MoveDataUser(db_source, db_target, "users");
    // departments
    await MoveDataModel<DepartmentModel>(db_source, db_target, "departments");
    // okrs
    await MoveDataModel<OkrModel>(db_source, db_target, "okrs");
    // okr_config
    await MoveDataModel<OkrConfigModel>(db_source, db_target, "okr_config");
    // cfr_stars
    await MoveDataModel<CfrStarModel>(db_source, db_target, "cfr_stars");
    // okr_cfrs
    await MoveDataModel<OkrCfrModel>(db_source, db_target, "okr_cfrs");
    // okr_checkins
    await MoveDataModel<OkrCheckinModel>(db_source, db_target, "okr_checkins");
    // kaizen
    await MoveDataModel<KaizenModel>(db_source, db_target, "kaizen");
    // quotes
    await MoveDataModel<QuotesModel>(db_source, db_target, "quotes");
    // todolist
    await MoveDataModel<TodolistModel>(db_source, db_target, "todolist");
    // achievement
    await MoveDataModel<AchievementModel>(db_source, db_target, "achievement");
    // gift_products
    await MoveDataModel<GiftProductModel>(db_source, db_target, "gift_products");
    // days_checkin
    await MoveDataModel<DayCheckinModel>(db_source, db_target, "days_checkin");

    await JSRuntime.InvokeVoidAsync("console.log", $"DONE: {db_source} => {db_target}");
    await JSRuntime.InvokeVoidAsync("tagline", true, $"Đã đồng bộ dữ liệu tổ chức [{item.id}] {item.name}");
  }

  private async Task MoveDataUser(string db_source, string db_target, string table_name)
  {
    int count = 0;
    var data = await BackupData.GetList<UserModel>(db_source, table_name);
    foreach (var item in data)
    {
      try
      {
        item.products = new();
        BackupData.Create<UserModel>(db_target, table_name, item);
        count++;
      }
      catch (System.Exception)
      {
        //await JSRuntime.InvokeVoidAsync("console.warn",$"EXIST => {item.email}");
      }
    }
    await JSRuntime.InvokeVoidAsync("console.log", $".....{table_name} => done {count}/{data.Count} item");
  }

  private async Task MoveDataModel<T>(string db_source, string db_target, string table_name)
  {
    int count = 0;
    var data = await BackupData.GetList<T>(db_source, table_name);
    foreach (var item in data)
    {
      try
      {
        BackupData.Create<T>(db_target, table_name, item);
        count++;
      }
      catch (System.Exception)
      {
        //await JSRuntime.InvokeVoidAsync("console.warn",$"EXIST => {ex.ToString()}");
      }
    }
    await JSRuntime.InvokeVoidAsync("console.log", $".....{table_name} => done {count}/{data.Count} item");
  }

  private async Task<bool> GetCompanyList()
  {
    bool _success = true;
    try
    {
      var data = await BackupData.GetList<CompanyModel>("fastdo", "companys");
      await JSRuntime.InvokeVoidAsync("console.warn", "Danh sách tổ chức");
      await JSRuntime.InvokeVoidAsync("tagline", true, $"Có {data.Count} tổ chức trong database");
      foreach (var item in data)
      {
        if (item.status && !item.delete)
        {
          await CompanyService.UpdateProductAccess(item.id, globalService);
          await globalService.Update(item.id);
          await JSRuntime.InvokeVoidAsync("console.log", item.id + " : " + item.name + " => members: " + item.members);
        }
      }
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "GetCompanyList()", ex.ToString(), Layout.User.id);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task GetUserList()
  {
    var data = await BackupData.GetList<UserModel>("fastdo", "users");
    await JSRuntime.InvokeVoidAsync("console.warn", "Danh sách tài khoản");
    await JSRuntime.InvokeVoidAsync("tagline", true, $"Có {data.Count} tài khoản database");
    var members = new List<MemberModel>();
    foreach (var item in data)
    {
      if (item.active && !item.delete)
      {
        members.Add(UserService.ConvertToMember(item));
        //await JSRuntime.InvokeVoidAsync("console.log", item.id + " : " + item.email + " => customer: " + item.is_customer);
      }
    }
    await JSRuntime.InvokeVoidAsync("console.table", members);
  }

  private async Task<bool> ResetUsersStart()
  {
    bool _success = true;
    try
    {
      var companys = await BackupData.GetList<CompanyModel>("fastdo", "companys");
      foreach (var company in companys)
      {
        var userList = await DbUser.GetList(company.id, null, null, 0, globalService);
        var cftList = await DbOkrCfr.GetList(company.id, null, null);
        await JSRuntime.InvokeVoidAsync("console.warn", $"Công ty: {company.name} | Nhân viên: {userList.Count}");
        foreach (var item in userList)
        {
          item.star_distribute = 0;
          item.star_receive = cftList.Where(x => x.user_receive == item.id).Sum(x => x.star);
          item.star_give = cftList.Where(x => x.user_create == item.id).Sum(x => x.star);
          await DbUser.Update(company.id, item, globalService);
          await JSRuntime.InvokeVoidAsync("console.log",
            $"{item.FullName} | Của bạn: {item.star_total} | được cấp: {item.star_distribute} | Nhận được: {item.star_receive} | Cho đi: {item.star_give}");
        }
      }

    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "ResetUsersStart()", ex.ToString(), Layout.User.id);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task ResizeImageAll()
  {

    await JSRuntime.InvokeVoidAsync("tagline", false, "Đang xử lý nén ảnh...");
    var allUser = new List<UserModel>();

    if(company.IsEmpty())
    {
      allUser = await DbMainUser.GetAll();
    }
    else
    {
      allUser = await DbUser.GetAll(company, globalService);
    }
    foreach (var user in allUser)
    {
      if (!user.avatar.IsEmpty())
      {
        if (user.avatar.Contains("/upload/"))
        {
          await JSRuntime.InvokeVoidAsync("console.log", $"Compressing: {user.FullName}");
          await JSRuntime.InvokeVoidAsync("console.log", $"Link: {user.avatar}");
          Files.ResizeImage(user.avatar, compress == 0 ? 1000 : compress, out var resize);
        }
      }
    }
    await JSRuntime.InvokeVoidAsync("tagline", true, "Nén hoàn tất");
  }

  private async Task MoveImageToCloud()
  {
    try
    {
      await JSRuntime.InvokeVoidAsync("tagline", true, "Start sync...");

      var allCompanys = new List<CompanyModel>();
      var allUser =  new List<UserModel>();

      if(company.IsEmpty())
      {
        allCompanys = await DbMainCompany.GetAll();
        allUser = await DbMainUser.GetAll();
      }
      else
      {
        allCompanys.Add(DbMainCompany.GetById(company));
        allUser = await DbUser.GetAll(company, globalService);
      }

      allCompanys = allCompanys.Where(x => ProductService.CheckStorage(x)).ToList();

      await JSRuntime.InvokeVoidAsync("tagline", true, "Banners & blogs sync...");
      // Xử lý blog & banner
      foreach (var company in allCompanys)
      {
        var banners = await DbBanner.GetList(company.id);
        var blogs = await DbBlog.GetList(company.id, string.Empty);

        foreach (var blog in blogs)
        {
          if (!blog.image.IsEmpty())
          {
            if (blog.image.Contains("upload/"))
            {
              var link = await Files.MoveLocalToCloud(blog.image, company.id, company.id, null, "blogs/thumbnail");
              blog.image = link;
              await DbBlog.Update(company.id, blog);
            }
          }
        }

        foreach (var banner in banners)
        {
          if (!banner.image.IsEmpty())
          {
            if (banner.image.Contains("upload/"))
            {
              var link = await Files.MoveLocalToCloud(banner.image, company.id, company.id, null, "banner");
              banner.image = link;
              await DbBanner.Update(company.id, banner);
            }
          }
        }
      }

      await JSRuntime.InvokeVoidAsync("tagline", true, "User avatar...");
      // Xử lý avatar
      foreach(var user in allUser)
      {
        if(!user.avatar.IsEmpty())
        {
          if(user.avatar.Contains("upload/"))
          {
            var link = await Files.MoveLocalToCloud(user.avatar, "avatar","", user, "");
            user.avatar = link;
            await DbMainUser.Update(user, globalService);
          }
        }
      }

      await JSRuntime.InvokeVoidAsync("tagline", true, "Done sync...");
    }
    catch(Exception ex)
    {
      await JSRuntime.InvokeVoidAsync("tagline", false, $"Sync fail: {ex.ToString()}");
    }
  }



  private async Task<bool> UpdateUserDepartmentName()
  {
    bool _success = true;
    try
    {
      var companys = await DbMainCompany.GetAll();
      foreach (var company in companys)
      {
        var database = await DbDepartment.GetAll(company.id);
        var companyId = company.id;
        var userList = await DbUser.GetAll(companyId, globalService);
        foreach (var user in userList)
        {
          var department = await DbDepartment.GetNameListOfUser(companyId, user.departments_id, database);
          var departmentName = String.Join(" / ", department);
          if (departmentName != user.departments_name)
          {
            user.departments_name = String.Join(" / ", department);
            await DbUser.Update(companyId, user, globalService);
          }
        }
      }
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "UpdateUserDepartmentName()", ex.ToString(), Layout.User.id, "Admin");
      _success = false;
    }
    return _success;
  }
}
