@page "/admin/transactions"
@page "/admin/transactions/requests"
@layout LayoutAdmin
@inject GlobalService globalService
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

<section class="px-4">
  <ul class="menu_bar mb-4">
    <li>
      <a class="icon-text has-text-white is-active" href="/admin/transactions/requests">
        <span class="icon">
          <i class="material-icons-round is-size-5">request_quote</i>
        </span>
        <span class="is-size-7 has-text-weight-bold">Yêu cầu nạp tiền</span>
      </a>
    </li>
    <li>
      <a class="icon-text has-text-white" href="/admin/transactions/purchase">
        <span class="icon">
          <i class="material-icons-round is-size-5">shopping_bag</i>
        </span>
        <span class="is-size-7 has-text-weight-bold">Lệnh mua sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="icon-text has-text-white" href="/admin/transactions/recharge">
        <span class="icon">
          <i class="material-icons-round is-size-5">add</i>
        </span>
        <span class="is-size-7 has-text-weight-bold">Nạp tiền</span>
      </a>
    </li>
    <li>
      <a class="icon-text has-text-white" href="/admin/transactions/cashout">
        <span class="icon">
          <i class="material-icons-round is-size-5">remove</i>
        </span>
        <span class="is-size-7 has-text-weight-bold">Rút tiền</span>
      </a>
    </li>
    <li class="is-right">
      <div class="icon-text has-text-white py-0">
        <span class="icon mr-3">
          <i class="material-icons-round is-size-3">account_balance_wallet</i>
        </span>
        <div class="has-text-centered" style="line-height: 1.4;">
          <span class="is-size-7 is-block">Tổng yêu cầu nạp</span>
          <span class="font_14 is-block has-text-weight-bold">
            @Shared.ConvertCurrency(totalMoney) VNĐ
          </span>
        </div>
      </div>
    </li>
  </ul>

  <ul class="columns is-vcentered is-multiline is-variable is-2 mb-4">
    <li class="column">
      <h1 class="title is-5">
        @_title
      </h1>
    </li>
    <li class="column is-narrow">
      <div class="control has-icons-left">
        <div class="select is-small has-text-weight-medium">
          <select @onchange="FilterStatus">
            <option value="0">Trạng thái</option>
            @foreach (var sl in TransactionService.Status())
            {
              <option value="@sl.id">@sl.name</option>
            }
          </select>
        </div>
        <span class="icon is-left has-text-dark">
          <i class="material-icons-round is-size-6">filter_list</i>
        </span>
      </div>
    </li>
    <li class="column is-narrow">
      <div class="control has-icons-left">
        <div class="select is-small has-text-weight-medium">
          <select @onchange="FilterTimes">
            <option value="0">Thời gian</option>
            <option value="2">Tháng này</option>
            <option value="22">Tháng trước</option>
            <option value="5">3 tháng trước</option>
            <option value="6">6 tháng trước</option>
          </select>
        </div>
        <span class="icon is-left has-text-dark">
          <i class="material-icons-round is-size-6">filter_list</i>
        </span>
      </div>
    </li>
    <li class="column is-narrow">
      <div class="control has-icons-left" style="width: 180px;">
        <div class="input is-small">
          <DateRangePicker @bind-StartDate="filterDateS" @bind-EndDate="filterDateE" OnRangeSelect="FilterDates" />
        </div>
        <span class="icon is-left has-text-grey">
          <i class="material-icons-round is-size-6">calendar_today</i>
        </span>
      </div>
    </li>
    <li class="column is-narrow">
      <div class="control is-expanded has-icons-left" style="width: 230px;">
        <input @bind="filterKeyword" @onkeyup="ChangeKeyword" type="text" class="input is-small"
               placeholder="Email, họ và tên KH, mã giao dịch..." />
        <span class="icon is-left has-text-dark">
          <i class="material-icons-round is-size-6">search</i>
        </span>
      </div>
    </li>
    <li class="column is-narrow">
      <span class="is-size-4 has-text-grey-lighter">|</span>
    </li>
    <li class="column is-narrow">
      <div class="control has-icons-left">
        <div class="select is-small has-text-weight-medium">
          <select @onchange="ChangeSort">
            <option value="">Sắp xếp theo thời gian</option>
            <option value="latest">Mới nhất đến cũ nhất</option>
            <option value="oldest">Cũ nhất đến mới nhất</option>
          </select>
        </div>
        <span class="icon is-left has-text-dark">
          <i class="material-icons-round is-size-6">sort</i>
        </span>
      </div>
    </li>
  </ul>

  <table class="table is-fullwidth is-vcentered is-hoverable is_head_bg is-size-7">
    <thead>
      <tr>
        <th width="10%">Mã giao dịch</th>
        <th width="10%">Thời gian</th>
        <th width="20%">Khách hàng</th>
        <th width="12%">Số tiền</th>
        <th>Nội dung</th>
        <th width="12%">Số dư còn lại</th>
        <th width="180px" align="right">Trạng thái</th>
      </tr>
    </thead>
    <tbody class="has-text-weight-medium">
      @foreach (var item in dataList)
      {
        var status = TransactionService.Status(item.status);
        <tr>
          <td>
            <span>@item.id</span>
          </td>
          <td>
            <span>@string.Format("{0:dd/MM/yyyy}", new DateTime(item.date))</span>
          </td>
          <td>
            <div class="user_item has-text-dark">
              <img class="image is-32x32 mr-2" src="@item.customer.avatar" alt="IMG" />
              <div>
                <p>@item.customer.email</p>
                <p>@item.customer.name</p>
              </div>
            </div>
          </td>
          <td>
            <span class="has-text-weight-bold">
              @string.Format("{0:0,0} VNĐ", item.money)
            </span>
          </td>
          <td>
            @((MarkupString)Shared.TextToHtml(item.content))
          </td>
          <td>
            <span class="has-text-weight-bold">
              @Shared.ConvertCurrency(item.balance) VNĐ
            </span>
          </td>
          <td align="right">
            @if (item.status == 1)
            {
              <a class="button is-small is-link" @onclick="() => AcceptItem(item)">
                <span class="icon">
                  <i class="material-icons-round is-size-6">done</i>
                </span>
                <span>Duyệt</span>
              </a>
              <a class="button is-small is-danger pr-2" @onclick="() => RejectItem(item)">
                <span class="icon">
                  <i class="material-icons-round is-size-6">close</i>
                </span>
                <span>Từ chối</span>
              </a>
            }
            else
            {
              <span class="icon-text @status.color">
                <span class="icon is-small mr-2">
                  <i class="material-icons-round is-size-6">@status.icon</i>
                </span>
                <span>@status.name</span>
              </span>
              <a class="icon-text has-text-dark ml-3" @onclick="() => UndoItem(item)">
                <span class="icon is-small">
                  <i class="material-icons-round is-size-6">restart_alt</i>
                </span>
                <span>Hoàn tác</span>
              </a>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if (dataList.Count == 0)
  {
    <div class="has-text-grey has-text-centered py-5">
      Không tìm thấy dữ liệu phù hợp
    </div>
  }
</section>

@code {
  [CascadingParameter]
  public LayoutAdmin Layout { get; set; }

  private string _title = "Yêu cầu nạp tiền";
  private List<TransactionModel> dataList = new();
  private long totalMoney = 0;
  private string orderBy = "latest";
  private string filterKeyword = string.Empty;
  private int filterStatus = 0;
  private DateTimeOffset? filterDateS = DateTime.Today.AddDays(-30);
  private DateTimeOffset? filterDateE = DateTime.Today;

  protected override void OnInitialized()
  {
    GetList();
  }

  private void FilterStatus(ChangeEventArgs e)
  {
    filterStatus = Convert.ToInt32(e.Value);
    GetList();
  }

  private void FilterTimes(ChangeEventArgs e)
  {
    Shared.GetTimeSpan(Convert.ToInt32(e.Value), out DateTime dateS, out DateTime dateE);
    filterDateS = dateS;
    filterDateE = dateE;
    GetList();
  }

  private void FilterDates(DateRange range)
  {
    GetList();
  }

  private void ChangeKeyword(KeyboardEventArgs args)
  {
    if (args.Key == "Enter")
    {
      GetList();
    }
    else if (args.Key == "Escape")
    {
      filterKeyword = string.Empty;
      GetList();
    }
  }

  private void ChangeSort(ChangeEventArgs e)
  {
    orderBy = e.Value.ToString();
    if (orderBy == "latest")
      dataList = dataList.OrderByDescending(x => x.date).ToList();
    else
      dataList = dataList.OrderBy(x => x.date).ToList();
  }

  private async Task<bool> GetList()
  {
    bool _success = true;
    try
    {
      dataList = await DbMainTransaction.GetListRequest(filterKeyword, filterStatus, filterDateS, filterDateE);
      if (orderBy == "latest")
        dataList = dataList.OrderByDescending(x => x.date).ToList();
      else
        dataList = dataList.OrderBy(x => x.date).ToList();
      totalMoney = dataList.Select(x => x.money).Sum();
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "GetList()", ex.ToString(), Layout.User.id);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task<bool> AcceptItem(TransactionModel item)
  {
    bool _success = true;
    try
    {
      var customer = await DbMainUser.Get(item.customer.id, null);
      if (customer != null)
      {
        // Cập nhật số dư tài khoản
        customer.balance += item.money;
        await DbMainUser.Update(customer, globalService);

        item.status = 2;
        item.balance = customer.balance;
        await DbMainTransaction.Update(item);
        await JSRuntime.InvokeVoidAsync("tagline", true, "Đã duyệt yêu cầu nạp tiền của mã giao dịch " + item.id);

        // Gửi thông báo cho khách hàng
        await DbMainNotify.Create(101, item.id, item.customer.id, Layout.User.id);
      }
      else
      {
        await JSRuntime.InvokeVoidAsync("tagline", false, "Tài khoản khách hàng không tồn tại.");
      }
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "AcceptItem()", ex.ToString(), Layout.User.id);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task<bool> RejectItem(TransactionModel item)
  {
    bool _success = true;
    try
    {
      item.status = 3;
      await DbMainTransaction.Update(item);
      await JSRuntime.InvokeVoidAsync("tagline", true, "Đã từ chối yêu cầu nạp tiền của mã giao dịch " + item.id);

      // Gửi thông báo cho khách hàng
      await DbMainNotify.Create(102, item.id, item.customer.id, Layout.User.id);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "RejectItem()", ex.ToString(), Layout.User.id);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task<bool> UndoItem(TransactionModel item)
  {
    bool _success = true;
    try
    {
      if (item.status == 2)
      {
        var customer = await DbMainUser.Get(item.customer.id, null);
        if (customer != null)
        {
          // Cập nhật số dư tài khoản
          customer.balance -= item.money;
          await DbMainUser.Update(customer, globalService);

          // Cập nhật số dư vào giao dịch
          item.balance = customer.balance;
        }
      }
      item.status = 1;
      await DbMainTransaction.Update(item);
      await JSRuntime.InvokeVoidAsync("tagline", true, "Đã hoàn tác hành động kiểm duyệt yêu cầu nạp tiền của mã giao dịch " + item.id);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "UndoItem()", ex.ToString(), Layout.User.id);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }
}