@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>Quản lý banner ưu đãi</PageTitle>

@if (Layout.User.role != 1 && !Layout.User.role_manage.store)
{
  <PopupNoRole />
}
else
{
  <ul class="columns is-vcentered is-variable is-2 mb-2">
    <li class="column">
      <h1 class="title is-5 has-text-info">
        QUẢN LÝ BANNER ƯU ĐÃI
      </h1>
    </li>
    <li class="column is-narrow">
      <a class="button is-link" @onclick="() => EditItem(null)">
        <span class="icon">
          <span class="material-icons-outlined is-size-6">add</span>
        </span>
        <span>Thêm mới</span>
      </a>
    </li>
  </ul>
  <ul class="columns is-variable is-2 mb-2">
    <li class="column">
      <input @bind="filterKey" type="text" class="input" placeholder="Từ khóa: tiêu đề, sản phẩm..." />
    </li>
    <li class="column is-one-third is-hidden">
      <div class="select is-fullwidth">
        <select @onchange="ChangeDepartment" class="is-family-code">
          @foreach (var item in departments)
          {
            <option value="@item.id">@item.name</option>
          }
        </select>
      </div>
    </li>
    <li class="column is-narrow">
      <a class="button is-link is-outlined" @onclick="Search">
        <span class="icon">
          <i class="material-icons-outlined">search</i>
        </span>
        <span>Tìm kiếm</span>
      </a>
    </li>
  </ul>
  <div id="scrollbox" class="scrolly inner_section" style="flex:1">
    <table class="table is-fullwidth is-vcentered is-responsive sticky only_desktop">
      <thead>
        <tr>
          <th class="sticky" style="left:0" width="60px">Hình</th>
          <th class="sticky last" style="left:60px" width="25%">Tiêu đề</th>
          <th class="">Sản phẩm</th>
          <th class="" width="80px" align="center">Ghim</th>
          <th class="" width="70px" align="center">Xử lý</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in dataList)
        {
          <tr>
            <td align="center" class="sticky" style="left:0">
              <a class="image is-square" href="@item.image" target="_blank">
                <img src="@item.image" alt="IMG" />
              </a>
            </td>
            <td class="sticky last" style="left:60px">
              <label class="td-label">Tiêu đề</label>
              <div class="td-value">
                <a class="has-text-weight-semibold" @onclick="() => EditItem(item)">
                  @item.name
                </a>
              </div>
            </td>
            <td>
              <label class="td-label">Sản phẩm</label>
              <div class="td-value">
                <div class="text_1_line" onclick="toggleText(this)">
                  @item.products
                </div>
              </div>
            </td>
            <td align="center">
              <label class="td-label">Ghim</label>
              <div class="td-value">
                <a class="icon" @onclick="() => ToggleItem(item)">
                  @if (item.pin)
                  {
                    <span class="material-icons-outlined is-size-4 has-text-success">
                      toggle_on
                    </span>
                  }
                  else
                  {
                    <span class="material-icons-outlined is-size-4 has-text-black">
                      toggle_off
                    </span>
                  }
                </a>
              </div>
            </td>
            <td align="center">
              <label class="td-label">Xử lý</label>
              <div class="td-value">
                <a class="icon has-text-link" title="Chỉnh sửa" @onclick="() => EditItem(item)">
                  <i class="material-icons-outlined is-size-5">
                    edit
                  </i>
                </a>
                <a class="icon has-text-danger" title="Xóa" @onclick="() => DeleteItem(item)">
                  <i class="material-icons-outlined is-size-5">
                    delete
                  </i>
                </a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

@if (model != null)
{
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-card-head">
        <div class="modal-card-title">
          @(string.IsNullOrEmpty(model.id) ? "Thêm banner mới" : "Chỉnh sửa banner")
        </div>
        <a class="delete" @onclick="() => model = null"></a>
      </div>
      <form @onsubmit="Update" class="modal-card-body scrolly">
        <div class="field">
          <label class="label">Tiêu đề *</label>
          <div class="control">
            <input @bind="model.name" type="text" class="input" />
          </div>
        </div>
        <div class="field">
          <label class="label">Hình ảnh *</label>
          <div class="field has-addons">
            <div class="control">
              <a class="image is-square">
                <img src="@model.image" />
              </a>
            </div>
            <div class="control is-expanded">
              <input @bind="model.image" class="input" type="text" placeholder="Nhập link hình..." />
            </div>
            <FileUpload Path="gift/banner" IsLeft="true" Cloud Accept="image/*" Size="400" OnUpload="x => model.image = x[0]" />
          </div>
        </div>
        <div class="field">
          <label class="label">Sản phẩm liên quan</label>
          <div class="control">
            <input @bind="model.products" type="text" class="input" placeholder="Tên sản phẩm 1, tên sản phẩm 2...." />
          </div>
        </div>
        <div class="field mt-5">
          <div class="buttons is-right">
            <a class="button" @onclick="() => model = null">
              Hủy
            </a>
            <a class="button is-link" @onclick="Update">
              <span class="icon">
                <i class="material-icons-outlined is-size-6">done</i>
              </span>
              <span>Cập nhật</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
}

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  private GiftBannerModel model = null;
  private List<GiftBannerModel> dataList = new();
  private List<DepartmentModel> departments = new();
  private string filterKey = string.Empty;
  private string filterDepartment = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    var departmentAll = await DbDepartment.GetAll(Layout.Company.id);
    departments = departmentAll.Where(x => x.parent == null).ToList();
    if (departments.Count == 1)
      departments = departmentAll.Where(x => x.parent == departments[0].id).ToList();

    if (departments.Count > 0)
      filterDepartment = departments[0].id;

    await Search();
  }
  
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
      await JSRuntime.InvokeVoidAsync("dragScrollX");
  }

  private async Task<bool> Search()
  {
    bool _success = true;
    try
    {
      dataList = await DbGiftBanner.GetList(Layout.Company.id, filterKey, filterDepartment);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "Search()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task ChangeDepartment(ChangeEventArgs e)
  {
    filterDepartment = e.Value.ToString();
    await Search();
  }

  private async Task<bool> DeleteItem(GiftBannerModel item)
  {
    bool _success = true;
    try
    {
      if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Bạn có chắc muốn xóa {item.name}"))
        return false;

      dataList.Remove(item);
      await DbGiftBanner.Delete(Layout.Company.id, item.id);
      Files.DeleteFile(item.image);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "DeleteItem()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private async Task<bool> ToggleItem(GiftBannerModel item)
  {
    bool _success = true;
    try
    {
      item.pin = !item.pin;
      await DbGiftBanner.Update(Layout.Company.id, item);
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "ToggleItem()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }

  private void EditItem(GiftBannerModel item)
  {
    if (item == null)
    {
      model = new()
        {
          department = filterDepartment
        };
    }
    else
    {
      model = item;
    }
  }

  private async Task<bool> Update()
  {
    bool _success = true;
    try
    {
      if (StringHelper.IsEmpty(model.name) || StringHelper.IsEmpty(model.image))
        await JSRuntime.InvokeVoidAsync("tagline", false, "Nhập các trường bắt buộc (*)");
      else
      {
        model.products = !string.IsNullOrEmpty(model.products) ? model.products.ToLower() : string.Empty;
        if (string.IsNullOrEmpty(model.id))
        {
          model = await DbGiftBanner.Create(Layout.Company.id, model);
          dataList.Insert(0, model);
        }
        else
        {
          model = await DbGiftBanner.Update(Layout.Company.id, model);
        }
        model = null;
        await JSRuntime.InvokeVoidAsync("tagline", true, "Đã cập nhật banner ưu đãi thành công!");
      }
    }
    catch (Exception ex)
    {
      var formatLink = navigation.Uri.Replace(navigation.BaseUri, "/");
      StorageService.CatchLog(formatLink, "Update()", ex.ToString(), Layout.User.id, Layout.Company.name);
      await Layout.Tagline();
      _success = false;
    }
    return _success;
  }
}