@page "/reports/okrs"
@page "/reports/okrs/overview"
@page "/reports/okrs/checkin"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>Thống kê OKRs</PageTitle>


@if (!CheckAccess())
{
  <section>
    <div class="box has-text-centered pt-5">
      <span class="icon is-large has-text-danger">
        <i class="material-icons-outlined is-size-1">error_outline</i>
      </span>
      <div class="is-size-6 py-4 has-text-weight-semibold">
        @msgAccess
      </div>
    </div>
  </section>
}
else
{
  <div class="tabs">
    <div class="tabs_name">
      Tổng quan OKRs
    </div>
    <ul>
      @if (tab == 1)
      {
        <li class="@(subtab == "1" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/okrs/overview?subtab=1">Tiến độ</a>
        </li>
        <li class="@(subtab == "2" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/okrs/overview?subtab=2">Bảng xếp hạng</a>
        </li>
        <li class="@(subtab == "3" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/okrs/overview?subtab=3">Tổng quan</a>
        </li>
      }
      else
      {
        <li class="@(subtab == "1" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/okrs/checkin?subtab=1">Tổng quan</a>
        </li>
        <li class="@(subtab == "2" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/okrs/checkin?subtab=2">Lịch sử</a>
        </li>
      }
    </ul>
  </div>

  <section class="main_content">
    @if (tab == 1)
    {
      if (subtab == "1")
      {
        <OKRsProgress departmentAll="departmentAll" departments="departments" />
      }
      else if (subtab == "2")
      {
        <OKRsRanking departmentAll="departmentAll" departments="departments" />
      }
      else if (subtab == "3")
      {
        <OKRsOverview departmentAll="departmentAll" departments="departments" />
      }
    }
    else
    {
      if (subtab == "1")
      {
        <CFRsCheckin departmentAll="departmentAll" departments="departments" />
      }
      else if (subtab == "2")
      {
        <CFRsHistory departmentAll="departmentAll" departments="departments" />
      }
    }
  </section>
}


@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  [SupplyParameterFromQuery(Name = "subtab")]
  public string? subtab { get; set; }

  private List<DepartmentModel> departmentAll = new();
  private List<DepartmentModel.SelectList> departments = new();
  private int tab = 1;

  private string msgAccess = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    departmentAll = await DbDepartment.GetAll(Layout.Company.id);
    departments.AddRange(await DbDepartment.GetSelectList(Layout.Company.id, null, 0, null));
  }

  protected override async Task OnParametersSetAsync()
  {
    if (navigation.Uri.Contains("checkin"))
      tab = 2;
    else
      tab = 1;

    if (subtab.IsEmpty()) subtab = "1";

    await InvokeAsync(StateHasChanged);
  }

  private bool CheckAccess()
  {
    return ProductService.CheckAccess(Layout.Company, Layout.User, "okrs", out msgAccess);
  }
}