@page "/reports/todolist"
@page "/reports/todolist/fine"
@page "/reports/todolist/done"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>



@if (!CheckAccess())
{
  <section>
    <div class="box has-text-centered pt-5">
      <span class="icon is-large has-text-danger">
        <i class="material-icons-outlined is-size-1">error_outline</i>
      </span>
      <div class="is-size-6 py-4 has-text-weight-semibold">
        @msgAccess
      </div>
    </div>
  </section>
}
else
{
  <div class="tabs">
    <div class="tabs_name">
      Todolist
    </div>
    <ul>
      @if (tab == 1)
      {
        <li class="@(subtab == "1" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/todolist/fine?subtab=1">Đúng hạn</a>
        </li>
        <li class="@(subtab == "2" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/todolist/fine?subtab=2">Vi phạm</a>
        </li>
        <li class="@(subtab == "3" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/todolist/fine?subtab=3">Danh sách</a>
        </li>
        <li class="@(subtab == "4" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/todolist/fine?subtab=4">Top kỷ luật</a>
        </li>
      }
      else
      {
        <li class="@(subtab == "1" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/todolist/done?subtab=1">Thống kê</a>
        </li>
        <li class="@(subtab == "2" ? "is-active" : "")">
          <a class="has-text-weight-normal" href="/reports/todolist/done?subtab=2">Top hoàn thành</a>
        </li>
      }
    </ul>
  </div>

  <section class="main_content">
    @if (tab == 1)
    {
      if (subtab == "1")
      {
        <TodoDate departmentAll="departmentAll" departments="departments" />
      }
      else if (subtab == "2")
      {
        <TodoViolation departmentAll="departmentAll" departments="departments" />
      }
      else if (subtab == "3")
      {
        <TodoList departmentAll="departmentAll" departments="departments" />
      }
      else if (subtab == "4")
      {
        <TodoRank departmentAll="departmentAll" departments="departments" />
      }
    }
    else
    {
      if (subtab == "1")
      {
        <TodoProgress departmentAll="departmentAll" departments="departments" />
      }
      else if (subtab == "2")
      {
        <TodoDone departmentAll="departmentAll" departments="departments" />
      }
    }
  </section>

}

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  [SupplyParameterFromQuery(Name = "subtab")]
  public string? subtab { get; set; }

  private bool _loaded = false;
  private bool success = false;
  private string _message = string.Empty;
  private string _title = "Thống kê Todolist";

  private List<DepartmentModel> departmentAll = new();
  private List<DepartmentModel.SelectList> departments = new();
  private int tab = 1;

  private string msgAccess = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    departmentAll = await DbDepartment.GetAll(Layout.Company.id);
    departments.AddRange(await DbDepartment.GetSelectList(Layout.Company.id, null, 0, null));

    _loaded = true;
  }

  protected override void OnParametersSet()
  {
    if (navigation.Uri.Contains("done"))
      tab = 2;
    else
      tab = 1;

    if (subtab.IsEmpty())
      subtab = "1";
  }


  private bool CheckAccess()
  {
    return ProductService.CheckAccess(Layout.Company, Layout.User, "todolist", out msgAccess);
  }
}